doctype

html(lang="ru")
  
  -var active = 'Магазины' //активный пункт меню, список в header.jade
  -var pageTitle = '1 магазин' + ' - Мебель России' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    +breadcrumbs
    
    .content
      .container
        
        h1 АМПИР ДЕКОР
        
        .row
          .col-md-3
            .magazine__logo
              img(src="./img/magazine-doc-logo.png", alt="").img-responsive
          .col-md-9
            .magazine__address
              div
                .magazine__address-map
                  i.ion-ios-location
                  b Магазин «Ампир декор»
                  | 2 этаж, секция 2д4, 
                  br
                  | левое крыло, 100 метров от лифта
                .magazine__address-phone
                  i.ion-android-call
                  | (812) 222-0-222
              div
                .magazine__address-time
                  b Часы работы
                  span
                    i.ion-android-time
                    | Пн - Сб: 10.00 - 22.00
                  span
                    i.ion-android-time
                    | Вс: 12.00 - 15.00
              
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
            p Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. 
        
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
