doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Мебель России' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .main-slider
      .main-slider__wrapper
        .main-slider__carousel
          div
            a(href="#!" style="background-image: url('./img/main-slider-img-1.jpg');").main-slider__block
              .main-slider__block-number 01
              .main-slider__block-gradient
              .main-slider__block-content
                p Торгово-выставочныи комплекс «МЕБЕЛЬ РОССИИ» — расположен Одинцовском районе, р.п. Новоивановское, в непосредственнои близости от инновационного центра «Сколково», крупного торгового центра «Три Кита»
                .btn.btn--white Подробнее
          div
            a(href="#!" style="background-image: url('./img/main-slider-img-1.jpg');").main-slider__block
              .main-slider__block-number 02
              .main-slider__block-gradient
              .main-slider__block-content
                p Торгово-выставочныи комплекс «МЕБЕЛЬ РОССИИ» — расположен Одинцовском районе, р.п. Новоивановское, в непосредственнои близости от инновационного центра «Сколково», крупного торгового центра «Три Кита»
                .btn.btn--white Подробнее
          div
            a(href="#!" style="background-image: url('./img/main-slider-img-1.jpg');").main-slider__block
              .main-slider__block-number 03
              .main-slider__block-gradient
              .main-slider__block-content
                p Торгово-выставочныи комплекс «МЕБЕЛЬ РОССИИ» — расположен Одинцовском районе, р.п. Новоивановское, в непосредственнои близости от инновационного центра «Сколково», крупного торгового центра «Три Кита»
                .btn.btn--white Подробнее
    
    .content
      .container
        
        section.section.advantages
          .advantages__row.row
            .col-sm-4
              .advantages__block
                .advantages__block-img
                  +iconAdvantages1
                .advantages__block-content
                  strong 3 этажа выставочных залов 
                  span для Вашего удобства и наглядности всего ассортимента
            .col-sm-4
              .advantages__block
                .advantages__block-img
                  +iconAdvantages2
                .advantages__block-content
                  strong Общая площадь более 5 000 м2
                  span и на данной территории представлены более 100 марок производителей
            .col-sm-4
              .advantages__block
                .advantages__block-img
                  +iconAdvantages3
                .advantages__block-content
                  strong Дебаркадер и большая автостоянка
                  span которая позволит быстро загрузить и разгрузить всю продукцию
              
        
        section.section.offers
          .section__head.section__head--767wrap
            div
              span.text--nowrap.text--767block Предложение от 
              | производителя
          
          .offers__row.row
            .col-md-3.col-sm-6.col-xs-12
              a(href="#!").offers__block
                span.offers__block-img
                  span
                    img(src="./img/offers-img-1.png", alt="")
                span.offers__block-title Весеннее предложение!
                span.offers__block-info С 6 по 30 марта скидка 20%
            .col-md-3.col-sm-6.col-xs-12
              a(href="#!").offers__block
                span.offers__block-img
                  span
                    img(src="./img/offers-img-2.png", alt="")
                span.offers__block-title Большая акция!
                span.offers__block-info С 1 по 30 марта скидка 30%
            .col-md-3.col-sm-6.hidden-xs
              a(href="#!").offers__block
                span.offers__block-img
                  span
                    img(src="./img/offers-img-3.png", alt="")
                span.offers__block-title распродажа!
                span.offers__block-info С 1 по 30 марта скидка до 90%
            .col-md-3.col-sm-6.hidden-xs
              a(href="#!").offers__block
                span.offers__block-img
                  span
                    img(src="./img/offers-img-4.png", alt="")
                span.offers__block-title обновление сезона!
                span.offers__block-info Более 100 новых моделей!
              
          .section__more
            a(href="#!") все предложения
            
        section.section.news
          .section__head
            div последние новости
          
          .news__row.row
            .col-md-3.col-sm-6.col-xs-12
              .news__block
                .news__block-img
                  a(href="#!")
                    img(src="./img/news-block-1.png", alt="")
                .news__block-date 12 марта 2018
                a(href="#!").news__block-title Как подобрать кровать-чердак для ребенка
            .col-md-3.col-sm-6.col-xs-12
              .news__block
                .news__block-img
                  a(href="#!")
                    img(src="./img/news-block-2.png", alt="")
                .news__block-date 12 марта 2018
                a(href="#!").news__block-title Как подобрать кровать-чердак для ребенка
            .col-md-3.col-sm-6.hidden-xs
              .news__block
                .news__block-img
                  a(href="#!")
                    img(src="./img/news-block-3.png", alt="")
                .news__block-date 12 марта 2018
                a(href="#!").news__block-title Как подобрать кровать-чердак для ребенка
            .col-md-3.col-sm-6.hidden-xs
              .news__block
                .news__block-img
                  a(href="#!")
                    img(src="./img/news-block-4.png", alt="")
                .news__block-date 12 марта 2018
                a(href="#!").news__block-title Как подобрать кровать-чердак для ребенка
              
          .section__more
            a(href="#!") Все новости

        section.section.about.no--p
          .about__row.row
            .col-md-4.hidden-sm.hidden-xs
              .about__img
                img(src="./img/about-main-img.png", alt="")
            .col-md-8
              .about__content
                .section__head о компании
                p Торгово-выставочный комплекс «МЕБЕЛЬ РОССИИ» — расположен Одинцовском районе, р.п. Новоивановское, в непосредственной близости от инновационного центра «Сколково», крупного торгового центра «Три Кита».
                p «Торгово-выставочный комплекс «МЕБЕЛЬ РОССИИ» — многофункциональный выставочный павильон, разделённый на три зала на 1-м, 2-м, 3-м этажах, с общей площадью 5 844,4 м.кв., в том числе торговый зал 1-й этаж – 1 858,4 м.кв., торговый зал 2-й этаж – 1 789,7 м.кв., торговый зал 3-й этаж – 1 640,1 м.кв. 4-й этаж - техническое помещение.
                p Торгово-выставочный комплекс «МЕБЕЛЬ РОССИИ» — расположен Одинцовском районе, р.п. Новоивановское, в непосредственной близости от инновационного центра «Сколково», крупного торгового центра «Три Кита».
    
    include ./_include/_footer
    div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
